<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>Admin Lounge</h1>
    </header>
    <p>
      Welcome to Ticketee's Admin Lounge. Please enjoy your stay.
    </p>
  </div>
  <div class="col-md-3">
    <h2>Admin Links</h2>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    </div>
  </div>
</div>
